{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "opensandbox-controller.fullname" . }}-controller
  namespace: {{ include "opensandbox-controller.namespace" . }}
  labels:
    {{- include "opensandbox-controller.labels" . | nindent 4 }}
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      control-plane: controller-manager
      {{- include "opensandbox-controller.selectorLabels" . | nindent 6 }}
{{- end }}
